@media screen and (max-width: 600px){
    .header1{
        font-size: large !important;
        margin-top: 5%;
        color: white;
        text-shadow: black 3px 3px;
    }
    button{
        width: 100% !important;
        
    }
    
}
body{
    
    background:url("img/arkaplan.jpg");
    background-size:cover;
	animation:image 15s alternate-reverse !important;
   
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation:image 15s infinite alternate;
	-moz-animation:image 15s infinite alternate;
    background-color: #1e2d44;
    
}
@keyframes image{
	0%{
		background:url("img/arkaplan.jpg");
        background-size:cover;
        animation:image 5s infinite alternate;
        animation-delay: 2s;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-animation:image 15s infinite alternate;
        -moz-animation:image 15s infinite alternate;
	}

    25%{
		background:url("img/arkaplan2.jpg");
        background-size:cover;
        animation:image 5s infinite alternate;
        animation-delay: 2s;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-animation:image 15s infinite alternate;
        -moz-animation:image 15s infinite alternate;
	}

	80%{
		background:url("img/arkaplan3.jpg");
        background-size:cover;
        animation:image 5s infinite alternate;
        animation-delay: 2s;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-animation:image 15s infinite alternate;
        -moz-animation:image 15s infinite alternate;
	}

	100%{
		background:url("img/arkaplan4.jpg");
        background-size:cover;
        animation:image 5s infinite alternate;
        animation-delay: 2s;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-animation:image 15s infinite alternate;
        -moz-animation:image 15s infinite alternate;
	}

	
}
button{
    width: 50%;
    height: 35px;
    border-radius: 15px;
    border-color: none;
    box-shadow: #1e2d44 5px 5px;
    font-size: large;
}
button:hover{
    box-shadow: none;
    cursor: pointer;
}
.header1 h1{
    margin-top: 5%;
    color: white;
    text-shadow: black 3px 3px;
}